.aboutusbg{
    background-color: #f5fdff;
}

.stat-item {

    transition: transform 0.3s ease;
  }
  
  .stat-item:hover {
    transform: translateY(-8px);
  }
  
  .stat-number {
    font-family: 'Georgia', serif;
    font-size: 42px;
    color: #2d3436;
    margin-bottom: 10px;

  }
  
  .stat-label {
    color: #666;
    font-size: 16px;
  }
  
  .counterset{
    margin-top: -100px;
  }
  @media only screen and (max-width:761px) {
    .counterset{
      margin-top: 10px !important;
    }
  }