/* CarrerForm start */
input {
  background-color: whitesmoke;
}
.inpText {
  border-radius: 0px 10px 0px 10px;
}
/* CarrerForm end */

/* CarrerTable start */
.table {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}
.table th {
  border: 2px solid #000;
  padding: 8px;
  border-radius: 10px 0px 10px 0px;
}
.table td {
  border-bottom: 2px solid #000;
  padding: 6px;
}
.table th {
  background-color: var(--theme--) !important;
  color: white;
}
.table tbody tr:nth-child(even) td {
  background-color: #6c7a8991;
}
.table tbody tr:nth-child(odd) td {
  background-color: #6c7a894e;
}
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid black !important;
}
.form-select {
  border-radius: 0px 10px 0px 10px !important;
  border: 2px solid black;
}
.prenextbtn {
  background-color: black;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: white;
}
/* CarrerTable end */

/* CarrerIntro start */
.carrer_bgimg {
  width: 100%;
  height: auto;
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRD6YBdBGt_2LlvG8WUO_IxCjUqlvCLOLfXStNubwqSH5pKakzo");
  background-size: cover;
  background-attachment: fixed;
}
.main_hr{
  border: 1px solid black !important;
}
/* CarrerIntro end */
