/* Font Family START*/
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --maincolor--: #5a717c;
  --inset--: #5a717cfc;
  --theme--:#6C7A89;
  --mainHedingfontsize--: 30px;
  --subheadingfontsize--: 15px;
}

* {
  font-family: 'Unna';
}

.letterspace {
  letter-spacing: 1px;
}

.Inter {
  font-family: 'Inter';
  letter-spacing: 2px;
  font-size: 13px !important;
  font-weight: 500 !important;
}
.theme{
  color: var(--theme--);
}
.pera{
  font-size: 15px;
  color: var(--maincolor--);
  transition: all 0.4s ease-in-out;

}
/* line tittle start */
.about-section {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: var(--theme--); /* Adjust this color to match */
}

.about-section .line {
  border-top: 1px solid var(--theme--); /* Adjust this color to match */
  width: 40px; /* Adjust the length of the line */
  margin-right: 10px; /* Adjust space between line and text */
}

/* line tittle end */
/* Header Start*/

.offcanvas.offcanvas-end {
  transition: all 0.5s;
}

.offcanvas {
  width: 279px !important;
}

.offcanvas.show .offcanvas-body .nav-link {
  color: #fff !important;
  background: var(--maincolor--) !important;
  padding: 12px;
}

.offcanvas.show .offcanvas-body .nav-item {
  width: 100% !important;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.offcanvas.show .offcanvas-body .nav-link:hover {
  color: #007bff;
}

.offcanvas-backdrop.show {
  opacity: 0.5 !important;
}

.offcanvas-backdrop {
  background: var(--inset--) !important;
}

.navbar-toggler-icon {
  background-image: none !important;

}

.navbar-toggler {
  padding: 0px !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Header End */

/* Footer Start  */
.accordion {
  --bs-accordion-border-color: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  width: 0px !important;
  display: none;
}

.accordion-button {
  justify-content: center !important;
}

/* Footer End  */

