/* Font Family START*/
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --maincolor--: #5a717c;
  --inset--: #5a717cfc;
  /* --theme--:#6C7A89; */
  --theme--: #30373e;
  --mainHedingfontsize--: 30px;
  --subheadingfontsize--: 15px;
}

* {
  font-family: "Unna";
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 3px 3px 10px 10px rgba(196, 196, 196, 0.308);
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme--);
}

::selection {
  background-color: var(--theme--);
  color: white;
}

.letterspace {
  letter-spacing: 1px;
}

.Inter {
  font-family: "Inter";
  letter-spacing: 2px;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.theme {
  color: var(--theme--);
}

.pera {
  font-size: 15px;
  color: var(--maincolor--);
  transition: all 0.4s ease-in-out;
}

/* line tittle start */
.about-section {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: var(--theme--);
}

.about-section .line {
  border-top: 1px solid var(--theme--);
  width: 40px;
  margin-right: 10px;
}

/* line tittle end */
/* button start */
.bg_button {
  background-color: var(--maincolor--);
  padding-right: 50px;
  border: 1px solid var(--maincolor--) !important;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  color: white;
}

.bg_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #94b0bdc7;
  transition: width 0.4s ease;
  z-index: -1;
}

.bg_button:hover::before {
  width: 100%;
}

.bg_button:hover {
  color: white !important;
}

.bg_iconbtn {
  background: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.bg_button:hover .bg_iconbtn {
  background-color: var(--maincolor--) !important;
  color: white !important;
}

/* button end */

/* Header Start*/

.offcanvas.offcanvas-end {
  transition: all 0.5s;
}

.offcanvas {
  width: 279px !important;
}

.offcanvas.show .offcanvas-body .nav-link {
  color: #fff !important;
  background: var(--maincolor--) !important;
  padding: 12px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  color: #007bff;
  font-weight: 900 !important;
}

.offcanvas.show .offcanvas-body .nav-item {
  width: 100% !important;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.offcanvas.show .offcanvas-body .nav-link:hover {
  color: #007bff;
}

.offcanvas-backdrop.show {
  opacity: 0.5 !important;
}

.offcanvas-backdrop {
  background: var(--inset--) !important;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler {
  padding: 0px !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.xyz .dropdown-menu {
  --bs-dropdown-min-width: 3.4rem !important;
  margin: -14px;
  border-radius: none !important;
  color: var(--bs-body-color) !important;
  background: none !important;
  border-color: transparent !important;
  border-width: 0 !important;
}

@media screen and (max-width: 768px) {
  .dropdown-menu.show {
    display: flex !important;
  }

  .xyz .dropdown-menu {
    margin: 11px !important;
  }
}

.animate__animated.animate__delay1 {
  animation-delay: 0.2s;
}

.animate__animated.animate__delay2 {
  animation-delay: 0.4s;
}

.animate__animated.animate__delay3 {
  animation-delay: 0.6s;
}

.animate__animated.animate__delay4 {
  animation-delay: 0.8s;
}

.li1 .dropdown-item {
  background-color: #1877f2 !important;
  transition: all 0.5s;
}

.li2 .dropdown-item {
  background-color: #1da1f2 !important;
  transition: all 0.5s;
}

.li3 .dropdown-item {
  background-image: linear-gradient(#f9ce34, #ee2a7b, #6228d7) !important;
  transition: all 0.5s;
}

.li4 .dropdown-item {
  background-color: #0077b5 !important;
  transition: all 0.5s;
}

.li1 .dropdown-item:hover,
.li2 .dropdown-item:hover,
.li4 .dropdown-item:hover {
  background-color: var(--maincolor--) !important;
}

.li3 .dropdown-item:hover {
  background-image: linear-gradient(
    var(--maincolor--),
    var(--maincolor--)
  ) !important;
}

/* Header End */

/* Footer Start  */
.accordion {
  --bs-accordion-border-color: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  width: 0px !important;
  display: none;
}

.accordion-button {
  justify-content: center !important;
}

/* Footer End  */

/* --- mainsection --- start*/
.mainsection {
  background-image: url("https://i.ytimg.com/vi/_MPs3YmRwTA/maxresdefault.jpg");
  background-size: 75% 100%;
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.aboutbgimg {
  background-image: url("https://www.mindscapedesign.co.in/productF/big_img/4472.jpeg") !important;
}
.projectsbgimg {
  background-image: url("https://www.mindscapedesign.co.in/productF/big_img/16613.jpeg") !important;
}
.careerbgimg {
  background-image: url("https://www.mindscapedesign.co.in/page/big_img/career11292.jpeg") !important;
}
.contactbgimg {
  background-image: url("https://www.mindscapedesign.co.in/page/big_img/background292.jpeg") !important;
}
.maincontentimg {
  background-image: url("https://solarpanel-nine.vercel.app/static/media/hero-bg-abstract.54e8f6f3d5f65e12c49b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mainsecbg {
  padding: 10% 0px 10% 0px !important;
}
.container-xxxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
}
.lendingTittle {
  transition: all 0.3s ease-in-out;
}
.lendingTittle:hover {
  text-decoration: underline !important;
}
@media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1440px;
  }
}
/* --- mainsection --- ends*/