/* Font Family START*/
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --maincolor--: #000;
  --mainHedingfontsize--: 30px;
  --subheadingfontsize--: 15px;
}

* {
  font-family: 'Unna';
}

.letterspace {
  letter-spacing: 1px;
}